h1 {
  text-align: center;
  color: beige;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.first-heading {
  text-align: center;
}

.bio {
  text-align: center;
}

.website {
  text-align: center;
}

img {
  height: 100px;
  width: 100px;
}
body {
  font-family: "Sofia", sans-serif;

  background-image: url("images/background-image.png");
  background-position: 0%;
  opacity: 1;
  background-size: cover;
}

ul {
  text-align: center;
  list-style: none;
  margin: 0;
}
li {
  display: inline;
  margin: 10px;
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-profiles {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  padding: 8px;
}
